<%= form_for [@user, @idea], html: {class: 'form-horizontal'} do |f| %>
    <div class="field form-group">
      <%= f.label :title, class: 'col-sm-2 control-label' %>
      <div class="col-sm-6">
        <%= f.text_field :title, placeholder: 'Title', class: 'form-control' %>
      </div>
    </div>
    <div class="field form-group">
      <%= f.label :description, class: 'col-sm-2 control-label' %>
      <div class="col-sm-6">
        <%= f.text_field :description, placeholder: 'Title', class: 'form-control' %>
      </div>
    </div>
    <div class="field form-group">
      <%= f.label :category_id, class: 'col-sm-2 control-label' %>
      <div class="col-sm-6">
       <%= f.collection_select :category_id, Category.order(:name),:id,:name, include_blank: true %>
      </div>
    </div>
    <div class="actions form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class: 'btn btn-success' %>
      </div>
    </div>
<% end %>